<section id="cover" class="min-vh-100" style="margin-top:6.7%;;">
  <div id="cover-caption">
    <div class="container">
      <div class="row text-white">
        <div
          class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4"
        >
          <h1 class="display-4 py-2 text-truncate">Signup.</h1>
          <div class="px-2">
            <form action="" class="justify-content-center">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="UserName"
                  [(ngModel)]="firstname"
                  name="firstname"
                />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="firstname" />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  [(ngModel)]="password"
                  name="firstname"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password"
                  name="passsword"
                  [(ngModel)]="cpassword"

                />
              </div>
              <button type="submit" class="btn btn-primary btn-lg" (click)="signup()">
                SignUp
              </button>
              <div class="form-group">
                <a routerLink="/login" >Already a member?Login</a>
              </div>
            </form>
            <p *ngIf="successMsg" style="color: green;">{{successMsg}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
